#opsFirstTwoWeeksAddReflectionPointInputBox {
    height: 150px;
    width: 80%;
}

.opsFirstTwoWeeksAddTaskButtonDiv {
    text-align: center;
}

#opsFirstTwoWeeksAddTaskInputBox {
    height: 40px;
    width: 80%;
}