.opsWeek1Resources {
    height: 79vh;
    width: 25vw;
    background-color: #3D8DE3;
    grid-row: 1 / 3;
    grid-column: 3;
    border-radius: 20px;
    padding-left: 1%;
    overflow: auto;
    text-align: center;
  }

.resourceAnchor {
    color: black;
}

.opsWeek1ResourceItem {
    margin-top: 8.5%;
    padding: 0%;
    font-size: large;
    font-weight: 400;
}

.sectionItems {
    margin-top: 2%;
}

.devWeek1MainResourceDiv {
    text-align: center;
}