.bigNames {
    height: 80vh;
    background-color: #3D8DE3;
    grid-row: 1 / 3;
    grid-column: 2 ;
    overflow: auto;
    border-radius: 20px;
    padding-left: 1.5%;
    margin-left: 2%;

}

#bigNamesHeader {
    margin-bottom: 0%;
}

.bigNameItem {
    margin-top: 10%;
    font-weight: 500;
}

@media only screen and (max-width: 1200px) {
    .bigNames {
        height: 40vh;
        background-color: orange;
        grid-row: 1 / 3;
        grid-column: 2 ;
        overflow: auto;
        border-radius: 20px;
        padding-left: 1.5%;
        margin-left: 2%;
    
    }

    .bigNameItem {
        margin-top: 5%;
        font-weight: 500;
    }
  }

