
.universalResources {
    height: 79vh;
    width: 25vw;
    background-color: #3D8DE3;
    grid-row: 1 / 3;
    grid-column: 3;
    border-radius: 20px;
    padding-left: 1%;
    overflow: auto;
    text-align: center;
  }

.resourceAnchor {
    color: black;
}

.universalResourcesItem {
    margin-top: 4.5%;
    padding: 0%;
    font-size: large;
    font-weight: 400;
}

.sectionItems {
    margin-top: 2%;
}

.universalResourcesMainDiv {
    text-align: center;
}

/* ---------- DEV FIRST MONTH ---------- */


.universal-FirstMonthDevResources {
    margin-left: 6%;
    height: 80vh;
    background-color: #3D8DE3;
    grid-row: 1 / 3;
    grid-column: 3 / 5;
    border-radius: 20px;
    padding-left: 1%;
    overflow: auto;
    text-align: center;
  }

  .universal-DevFirstMonthMainResourceDiv {
    text-align: center;
  }

  .universal-DevFirstMonthResourceItem {
    margin-top: 11%;
    padding: 0%;
    font-size: large;
    font-weight: 400;
}

@media only screen and (max-width: 1400px) {
    .universal-DevFirstMonthResourceItem {
        margin-top: 15%;
        padding: 0%;
        font-size: large;
        font-weight: 400;
    }
  }

  @media only screen and (max-width: 1100px) {
    .universal-DevFirstMonthResourceItem {
        margin-top: 18%;
        padding: 0%;
        font-size: large;
        font-weight: 400;
    }
  }

  @media only screen and (max-width: 800px) {
    .universal-DevFirstMonthResourceItem {
        margin-top: 22%;
        padding: 0%;
        font-size: large;
        font-weight: 400;
    }
  }

  /* ---------- DEV WEEK 1 ---------- */


  .universal-devWeek1Resources {
    height: 79vh;
    width: 25vw;
    background-color: #3D8DE3;
    grid-row: 1 / 3;
    grid-column: 3;
    border-radius: 20px;
    padding-left: 1%;
    overflow: auto;
    text-align: center;
  }

  .universal-devWeek1MainResourceDiv {
    text-align: center;
}

.universal-devWeek1ResourceItem {
    margin-top: 7%;
    padding: 0%;
    font-size: large;
    font-weight: 400;
}
@media only screen and (max-width: 1580px) {
    .universal-devWeek1ResourceItem {
        margin-top: 8%;
        padding: 0%;
        font-size: large;
        font-weight: 400;
    }
  }

@media only screen and (max-width: 1400px) {
    .universal-devWeek1ResourceItem {
        margin-top: 10%;
        padding: 0%;
        font-size: large;
        font-weight: 400;
    }
  }

  @media only screen and (max-width: 1100px) {
    .universal-devWeek1ResourceItem {
        margin-top: 12%;
        padding: 0%;
        font-size: large;
        font-weight: 400;

    }
  }

  @media only screen and (max-width: 800px) {
    .universal-devWeek1ResourceItem {
        margin-top: 14%;
        padding: 0%;
        font-size: large;
        font-weight: 400;

    }
  }


    /* ---------- DEV 2 WEEKS ---------- */


  .universal-devTwoWeeksResources {
    height: 79vh;
    width: 25vw;
    background-color: #3D8DE3;
    grid-row: 1 / 3;
    grid-column: 3;
    border-radius: 20px;
    padding-left: 1%;
    overflow: auto;
    text-align: center;
  }

  .universal-DevFirstTwoWeeksMainResourceDiv {
    text-align: center;
  }

  .universal-DevFirstTwoWeeksResourceItem {
    margin-top: 4.5%;
    padding: 0%;
    font-size: large;
    font-weight: 400;
  }


  @media only screen and (max-width: 1400px) {
    .universal-DevFirstTwoWeeksResourceItem {
        margin-top: 6%;
        padding: 0%;
        font-size: large;
        font-weight: 400;
    }
  }

  @media only screen and (max-width: 1100px) {
    .universal-DevFirstTwoWeeksResourceItem {
        margin-top: 8%;
        padding: 0%;
        font-size: large;
        font-weight: 400;

    }
  }

  @media only screen and (max-width: 800px) {
    .universal-DevFirstTwoWeeksResourceItem {
        margin-top: 9%;
        padding: 0%;
        font-size: large;
        font-weight: 400;

    }
  }

    /* ---------- TESTER FIRST MONTH ---------- */


  .universal-testerFirstMonthResources {
    height: 79vh;
    width: 28vw;
    background-color: #3D8DE3;
    grid-row: 1 / 3;
    grid-column: 3;
    border-radius: 20px;
    padding-left: 1%;
    overflow: auto;
    text-align: center;
}

.universal-testerFirstMonthMainResourceDiv {
  text-align: center;
}

.universal-testerFirstMonthResourceItem {
  margin-top: 10%;
  padding: 0%;
  font-size: large;
  font-weight: 400;
}

@media only screen and (max-width: 1500px) {
  .universal-testerFirstMonthResourceItem {
      margin-top: 12%;
      padding: 0%;
      font-size: large;
      font-weight: 400;
  }
}

@media only screen and (max-width: 1300px) {
  .universal-testerFirstMonthResourceItem {
      margin-top: 14%;
      padding: 0%;
      font-size: large;
      font-weight: 400;
  }
}

@media only screen and (max-width: 1100px) {
  .universal-testerFirstMonthResourceItem {
      margin-top: 16%;
      padding: 0%;
      font-size: large;
      font-weight: 400;

  }
}

@media only screen and (max-width: 800px) {
  .universal-testerFirstMonthResourceItem {
      margin-top: 20%;
      padding: 0%;
      font-size: large;
      font-weight: 400;

  }
}

    /* ---------- TESTER FIRST MONTH ---------- */


.universal-testerFirstTwoWeeksResources {
  height: 79vh;
  width: 25vw;
  background-color: #3D8DE3;
  grid-row: 1 / 3;
  grid-column: 3;
  border-radius: 20px;
  padding-left: 1%;
  overflow: auto;
  text-align: center;
}

.universal-testerTwoWeeksMainResourceDiv {
  text-align: center;
}

.universal-testerFirstTwoWeeksResourceItem {
  margin-top: 8%;
  padding: 0%;
  font-size: large;
  font-weight: 400;
}

@media only screen and (max-width: 1500px) {
  .universal-testerFirstTwoWeeksResourceItem {
      margin-top: 10%;
      padding: 0%;
      font-size: large;
      font-weight: 400;
  }
}

@media only screen and (max-width: 1300px) {
  .universal-testerFirstTwoWeeksResourceItem {
      margin-top: 12%;
      padding: 0%;
      font-size: large;
      font-weight: 400;

  }
}

@media only screen and (max-width: 1100px) {
  .universal-testerFirstTwoWeeksResourceItem {
      margin-top: 14%;
      padding: 0%;
      font-size: large;
      font-weight: 400;


  }
}

@media only screen and (max-width: 800px) {
  .universal-testerFirstTwoWeeksResourceItem {
      margin-top: 16%;
      padding: 0%;
      font-size: large;
      font-weight: 400;


  }
}

    /* ---------- TESTER WEEK 1 ---------- */

    .universal-testerWeek1Resources {
      height: 79vh;
      width: 25vw;
      background-color: #3D8DE3;
      grid-row: 1 / 3;
      grid-column: 3;
      border-radius: 20px;
      padding-left: 1%;
      overflow: auto;
      text-align: center;
    }
  
    .universal-testerWeek1ResourcesList {
      text-align: center;
    }

    .universal-testerWeek1ResourceItem {
      margin-top: 6.5%;
      padding: 0%;
      font-size: large;
      font-weight: 400;
  }

  @media only screen and (max-width: 1500px) {
    .universal-testerWeek1ResourceItem {
        margin-top: 8%;
        padding: 0%;
        font-size: large;
        font-weight: 400;
    }
  }
  
  @media only screen and (max-width: 1300px) {
    .universal-testerWeek1ResourceItem {
        margin-top: 9.5%;
        padding: 0%;
        font-size: large;
        font-weight: 400;
    }
  }
  
  @media only screen and (max-width: 1100px) {
    .universal-testerWeek1ResourceItem {
        margin-top: 11%;
        padding: 0%;
        font-size: large;
        font-weight: 400;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .universal-testerWeek1ResourceItem {
        margin-top: 13%;
        padding: 0%;
        font-size: large;
        font-weight: 400;
    }
  }


    /* ---------- OPS WEEK 1 ---------- */

  .universal-opsWeek1Resources {
    height: 79vh;
    width: 25vw;
    background-color: #3D8DE3;
    grid-row: 1 / 3;
    grid-column: 3;
    border-radius: 20px;
    padding-left: 1%;
    overflow: auto;
    text-align: center;
  }

  .universal-opsWeek1MainResourceDiv {
    text-align: center;
}

.universal-opsWeek1ResourceItem {
  margin-top: 8.5%;
  padding: 0%;
  font-size: large;
  font-weight: 400;
}

@media only screen and (max-width: 1500px) {
  .universal-opsWeek1ResourceItem {
      margin-top: 10%;
      padding: 0%;
      font-size: large;
      font-weight: 400;
  }
}

@media only screen and (max-width: 1300px) {
  .universal-opsWeek1ResourceItem {
      margin-top: 12%;
      padding: 0%;
      font-size: large;
      font-weight: 400;
  }
}

@media only screen and (max-width: 1100px) {
  .universal-opsWeek1ResourceItem {
      margin-top: 15%;
      padding: 0%;
      font-size: large;
      font-weight: 400;
  }
}

@media only screen and (max-width: 800px) {
  .universal-opsWeek1ResourceItem {
      margin-top: 18%;
      padding: 0%;
      font-size: large;
      font-weight: 400;
  }
}

    /* ---------- OPS FIRST TWO WEEKS ---------- */

    .universal-opsFirstTwoWeeksResources {
      height: 79vh;
      width: 25vw;
      background-color: #3D8DE3;
      grid-row: 1 / 3;
      grid-column: 3;
      border-radius: 20px;
      padding-left: 1%;
      overflow: auto;
      text-align: center;
    }
  
    .universal-opsFirstTwoWeeksMainResourceDiv {
      text-align: center;
  }
  
  .universal-opsFirstTwoWeeksResourceItem {
    margin-top: 13%;
    padding: 0%;
    font-size: large;
    font-weight: 400;
  }

  
@media only screen and (max-width: 1600px) {
  .universal-opsFirstTwoWeeksResourceItem {
      margin-top: 15%;
      padding: 0%;
      font-size: large;
      font-weight: 400;
  }
}

@media only screen and (max-width: 1400px) {
  .universal-opsFirstTwoWeeksResourceItem {
      margin-top: 18%;
      padding: 0%;
      font-size: large;
      font-weight: 400;
  }
}

@media only screen and (max-width: 800px) {
  .universal-opsFirstTwoWeeksResourceItem {
      margin-top: 24%;
      padding: 0%;
      font-size: large;
      font-weight: 400;
  }
}

    /* ---------- OPS FIRST MONTH ---------- */


    .universal-opsFirstMonthResources {
      margin-left: 6%;
    height: 80vh;
    background-color: #3D8DE3;
    grid-row: 1 / 3;
    grid-column: 3 / 5;
    border-radius: 20px;
    padding-left: 1%;
    overflow: auto;
    text-align: center;
    }
  
    .universal-opsFirstMonthMainResourceDiv {
      text-align: center;
  }
  
  .universal-opsFirstMonthResourceItem {
    margin-top: 13%;
    padding: 0%;
    font-size: large;
    font-weight: 400;
  }

  
@media only screen and (max-width: 1600px) {
  .universal-opsFirstMonthResourceItem {
      margin-top: 15%;
      padding: 0%;
      font-size: large;
      font-weight: 400;
  }
}

@media only screen and (max-width: 1400px) {
  .universal-opsFirstMonthResourceItem {
      margin-top: 18%;
      padding: 0%;
      font-size: large;
      font-weight: 400;
  }
}

@media only screen and (max-width: 950px) {
  .universal-opsFirstMonthResourceItem {
      margin-top: 24%;
      padding: 0%;
      font-size: large;
      font-weight: 400;
  }
}

    /* ---------- MARKETING WEEK 1 ---------- */


.universal-markingWeek1Resources {
  margin-left: 6%;
height: 80vh;
background-color: #3D8DE3;
grid-row: 1 / 3;
grid-column: 3 / 5;
border-radius: 20px;
padding-left: 1%;
overflow: auto;
text-align: center;
}

.universal-marketingWeek1ResourcesDiv {
  text-align: center;
}

.universal-marketingWeek1ResourceItem {
margin-top: 12%;
padding: 0%;
font-size: large;
font-weight: 400;
}

@media only screen and (max-width: 1600px) {
  .universal-marketingWeek1ResourceItem {
      margin-top: 14%;
      padding: 0%;
      font-size: large;
      font-weight: 400;
  }
}

@media only screen and (max-width: 1400px) {
  .universal-marketingWeek1ResourceItem {
      margin-top: 16%;
      padding: 0%;
      font-size: large;
      font-weight: 400;
  }
}

@media only screen and (max-width: 1100px) {
  .universal-marketingWeek1ResourceItem {
      margin-top: 20%;
      padding: 0%;
      font-size: large;
      font-weight: 400;
  }
}

  /* ---------- MARKETING FIRST TWO WEEKS ---------- */


  .universal-marketingFirstTwoWeeksResources {
    margin-left: 6%;
  height: 80vh;
  background-color: #3D8DE3;
  grid-row: 1 / 3;
  grid-column: 3 / 5;
  border-radius: 20px;
  padding-left: 1%;
  overflow: auto;
  text-align: center;
  }
  
  .universal-marketingFirstTwoWeeksResourcesDiv {
    text-align: center;
  }
  
  .universal-marketingFirstTwoWeeksResourceItem {
  margin-top: 18%;
  padding: 0%;
  font-size: large;
  font-weight: 400;
  }

  @media only screen and (max-width: 1600px) {
    .universal-marketingFirstTwoWeeksResourceItem {
        margin-top: 20%;
        padding: 0%;
        font-size: large;
        font-weight: 400;
    }
  }
  
  @media only screen and (max-width: 1400px) {
    .universal-marketingFirstTwoWeeksResourceItem {
        margin-top: 24%;
        padding: 0%;
        font-size: large;
        font-weight: 400;
    }
  }
  
  @media only screen and (max-width: 1100px) {
    .universal-marketingFirstTwoWeeksResourceItem {
        margin-top: 28%;
        padding: 0%;
        font-size: large;
        font-weight: 400;
    }
  }


  /* ---------- MARKETING FIRST MONTH ---------- */


  .universal-MarketingFirstMonthDevResources {
    margin-left: 6%;
    height: 80vh;
    background-color: #3D8DE3;
    grid-row: 1 / 3;
    grid-column: 3 / 5;
    border-radius: 20px;
    padding-left: 1%;
    overflow: auto;
    text-align: center;
  }

  .universal-MarketingFirstMonthMainResourceDiv {
    text-align: center;
}

.universal-MarketingFirstMonthResourceItem {
  margin-top: 18%;
  padding: 0%;
  font-size: large;
  font-weight: 400;
}

@media only screen and (max-width: 1600px) {
  .universal-MarketingFirstMonthResourceItem {
      margin-top: 22%;
      padding: 0%;
      font-size: large;
      font-weight: 400;
  }
}

@media only screen and (max-width: 1400px) {
  .universal-MarketingFirstMonthResourceItem {
      margin-top: 28%;
      padding: 0%;
      font-size: large;
      font-weight: 400;
  }
}

@media only screen and (max-width: 1100px) {
  .universal-MarketingFirstMonthResourceItem {
      margin-top: 28%;
      padding: 0%;
      font-size: large;
      font-weight: 400;
  }
}

@media only screen and (max-width: 800px) {
  .universal-MarketingFirstMonthResourceItem {
      margin-top: 34%;
      padding: 0%;
      font-size: large;
      font-weight: 400;
  }
}

@media only screen and (max-width: 500px) {
  .universal-MarketingFirstMonthResourceItem {
      margin-top: 38%;
      padding: 0%;
      font-size: large;
      font-weight: 400;
  }
}


  /* ---------- PRODUCT MANAGER FIRST MONTH ---------- */


.universal-productManagerWeek1Resources {
  height: 79vh;
  width: 25vw;
  background-color: #3D8DE3;
  grid-row: 1 / 3;
  grid-column: 3;
  border-radius: 20px;
  padding-left: 1%;
  overflow: auto;
  text-align: center;
}

.universal-productManagerWeek1MainResourceDiv {
  text-align: center;
}

.universal-productManagerWeek1ResourceItem {
  margin-top: 18%;
  padding: 0%;
  font-size: large;
  font-weight: 400;
}

@media only screen and (max-width: 1600px) {
  .universal-productManagerWeek1ResourceItem {
      margin-top: 20%;
      padding: 0%;
      font-size: large;
      font-weight: 400;
  }
}

@media only screen and (max-width: 1300px) {
  .universal-productManagerWeek1ResourceItem {
      margin-top: 24%;
      padding: 0%;
      font-size: large;
      font-weight: 400;
  }
}

@media only screen and (max-width: 1000px) {
  .universal-productManagerWeek1ResourceItem {
      margin-top: 26%;
      padding: 0%;
      font-size: large;
      font-weight: 400;
  }
}