* {
    border: red 1px dashed;
}

.sectionHeader {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin: 0%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#FirstMonthMainContainer {
    width: 70vw;
    height: 80vh;
    background-color: white;
    padding: 1.8%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
  }

/* ---------- GENERAL TASKS ---------- */


.generalTasks {
    height: 80vh;
    width: 21.5vw;
    /* background-color: #3D8DE3; */
    background-color: #3de38d;
    grid-row: 1 / 3;
    grid-column: 1;
    overflow: auto;
    border-radius: 20px;
    padding-left: 1.5%;
}

.setUpLabel {
    font-size: 18px;
}

.generalTasksItem {
    margin-bottom: 10px;
    font-size: large;
    font-weight: 400;
}

/* ---------- REFLECTION POINTS ---------- */


.FirstMonthReflectionPoints {
    height: 37vh;
    width: 27vw;
    background-color: #154360;
    grid-row: 2;
    grid-column: 2 / 4;
    text-align: left;
    border-radius: 20px;
    overflow: auto;
}

#reflectionPointsHeader {
    padding-bottom: 5%;
    color: white;
}


/* ---------- Add Task ---------- */


.addTask {
    height: 37vh;
    width: 16vw;
    background-color: #154360;
    color: white;
    grid-row: 2;
    grid-column: 3;
    margin-left: 23%;
    border-radius: 20px;
    overflow: auto;

}


#addTaskHeader {
    margin-bottom: 10%;
}


#addTaskInputBox {
    height: 40px;
    width: 80%;
}

.addTaskInputDiv {
    text-align: center;
    margin-bottom: 7%;
}

.FirstMonthAddTaskButtonDiv {
    text-align: center;
}

#FirstMonthAddTaskButton {
    width: 140px;
    height: 50px;
    background-color: #01DEB2;
    border-radius: 40px;
}

.sectionOptions {
    text-align: center;
    margin-bottom: 4%;
}

/* ---------- GENERAL TASKS ---------- */

#generalTasksHeader {
    padding-bottom: 2%;
}

.generalTasksItem {
    padding-bottom: 2%;
    line-height: 1.5;
    font-size: large;
    font-weight: 400;
}



#FirstMonthAddReflectionPointInputBox {
    height: 150px;
    width: 80%;
}

.addReflectionPointInputDiv {
    text-align: center;
    margin-bottom: 5%;
}