

.sectionHeader {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin: 0%;
    margin-top: 1%;
    margin-bottom: 1%;
}

/* ---------- SAVINGS SPECIFIC TASKS ---------- */


.savingsSpecificTaskListItem {
    padding-bottom: 2%;
    line-height: 1.5;
    font-size: large;
    font-weight: 400;
}

.savingsSpecificTasksHeader {
    height: 37vh;
    width: 33.5vw;
    grid-row: 2;
    grid-column: 1 / 3;
    overflow: auto;
    border-radius: 20px;
    padding-left: 1.5%;
}

.savingsSpecificTasks {
    height: 37vh;
    width: 26.5vw;
    background-color: #3D8DE3;
    grid-row: 2;
    grid-column: 1 / 3;
    overflow: auto;
    border-radius: 20px;
    padding-left: 1.5%;
}

/* ---------- REFLECTION POINTS ---------- */


.ReflectionPoints {
    height: 37vh;
    width: 18vw;
    background-color: #154360;
    grid-row: 2;
    grid-column: 2 / 4;
    text-align: left;
    margin-left: 15%;
    border-radius: 20px;
    overflow: auto;
}

#reflectionPointsHeader {
    padding-bottom: 5%;
    color: white;
}


/* ---------- Add Task ---------- */


.addTask {
    height: 37vh;
    width: 16vw;
    background-color: #154360;
    color: white;
    grid-row: 2;
    grid-column: 3;
    margin-left: 23%;
    border-radius: 20px;
    overflow: auto;

}


#addTaskHeader {
    margin-bottom: 10%;
}


#addTaskInputBox {
    height: 40px;
    width: 80%;
}

.addTaskInputDiv {
    text-align: center;
    margin-bottom: 7%;
}

.addTaskButtonDiv {
    text-align: center;
}

#addTaskButton {
    width: 130px;
    height: 40px;
    background-color: #01DEB2;
    border-radius: 40px;
}

.sectionOptions {
    text-align: center;
    margin-bottom: 4%;
}

/* ---------- GET UP TO SPEED ---------- */


.getUpToSpeedTaskItem {
    padding-bottom: 2%;
    line-height: 1.5;
    font-size: large;
    font-weight: 400;
}



#addReflectionPointInputBox {
    height: 100px;
    width: 80%;
}

.addReflectionPointInputDiv {
    text-align: center;
    margin-bottom: 7%;
}