.mainDiv {
    width: 100vw;
    height: 100vh;
    /* display: flex;
    flex-direction: row; */
    overflow: hidden;
}

html {
    overflow: hidden;
}

* {
    border: red dashed 1px
}

.flexDiv {
    display: flex;
    flex-direction: row;
align-items: center;
    justify-content:center;

}

  .leftArrowContainer {
    /* margin-left: 2%; */
    align-items: center;
  }

  .rightArrowContainer {
    align-items: center;
    /* margin-right: 2%; */
}

.arrow {
    font-size: 70px;
}

.arrow:hover {
    cursor: pointer;
}




  /* ---------- MEDIA QUERIES ---------- */


@media only screen and (max-width: 995px) {
    #addTaskButton {
        width: 110px;
        height: 35px;
        background-color: #01DEB2;
        border-radius: 40px;
    }

    .sectionItems {
        margin-top: 0%;
    }

    .sectionHeader {
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        margin: 0%;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    
    
}
@media only screen and (max-width: 840px) {


.arrow {
    font-size: 80px;
}

}


@media only screen and (max-width: 1340px) {
    .peopleToMeet {
        height: 37vh;
        width: 15vw;
        background-color: #3D8DE3;
        grid-row: 2;
        grid-column: 2 / 4;
        text-align: left;
        margin-left: 30%;
        border-radius: 20px;
        overflow: auto;
    
    
    }

    
    .addTask {
        height: 37vh;
        width: 15vw;
        background-color: #154360;
        color: white;
        grid-row: 2;
        grid-column: 3;
        margin-left: 33%;
        border-radius: 20px;
        overflow: auto;
    
    }
}


@media only screen and (max-width: 740px) {
      #addTaskButton {
        width: 100px;
        height: 30px;
        background-color: #01DEB2;
        border-radius: 40px;
    }

    .getCompliant {
        height: 37vh;
        width: 21.5vw;
        background-color: #3D8DE3;
        grid-row: 2;
        grid-column: 1 / 3;
        overflow: auto;
    }

    .peopleToMeet {
        height: 37vh;
        width: 19vw;
        background-color: #3D8DE3;
        grid-row: 2;
        grid-column: 2;
        text-align: left;
        margin-left: 2%;
        
    }

    
    
    
    
    .addTask {
        height: 37vh;
        width: 19vw;
        background-color: #154360;
        color: white;
        grid-row: 2;
        grid-column: 3;
        margin-left: 2%;
    
    }

    .sectionHeader {
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        margin: 0%;
        margin-top: 1%;
        margin-bottom: 1%;
    }



  }

  @media only screen and (max-width: 520px) {
      #addTaskButton {
        width: 80px;
        height: 20px;
        background-color: #01DEB2;
        border-radius: 40px;
    }

    .arrow {
        font-size: 70px;
    }
    
  }

  @media only screen and (max-width: 460px) {
    .arrowDivColumn {
        margin-left: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh; /* Set the height of the column to full viewport height */
      }
  }

  @media only screen and (max-width: 405px) {
    .arrowDivColumn {
        margin-left: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh; /* Set the height of the column to full viewport height */
      }
  }