body {
  margin: 0;
  padding: 0;
  background: #1c1a5e;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cardColumnsContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}


.cardColumns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.cardContainer {
  background-color: white;
  color: black;
  height: 250px;
  width: 250px;
  border-radius: 8px;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cardContainer:hover {
  background-color: #01DEB2;
}

#selectHeader {
  color: white;
  text-align: center;
}

.icon {
  color: black;
  font-size: 90px;
}

#iconContainer {
  text-align: center;
}

#roleNameContainer {
  text-align: center;
  color: black;
  font-size: 30px;
}

@media only screen and (max-width: 990px) {
  .cardColumns {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}


@media only screen and (max-width: 620px) {
  .cardColumns {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .cardContainer {
    width: 100%;
  }
}