#mainHeaderTester {
    text-align: center;
}

.testerBasicSetUpItem {
    padding-top: 1%;
    font-size: large;
    font-weight: 400;
}

.testerGetCompliantItem {
    padding-top: 1%;
    font-size: large;
    font-weight: 400;
}

.TesterWeek1AddTask {
    height: 37vh;
    width: 20vw;
    background-color: #154360;
    color: white;
    grid-row: 2;
    grid-column: 2;
    margin-left: 15%;
    border-radius: 20px;
    overflow: auto;
}

#addTaskHeader {
    margin-bottom: 10%;
}

#addTaskInputBox {
    height: 40px;
    width: 80%;
}

.addTaskInputDiv {
    text-align: center;
    margin-bottom: 7%;
}

.FirstWeekAddTaskButtonDiv {
    text-align: center;
}

#FirstWeekAddTaskButton {
    width: 130px;
    height: 40px;
    background-color: #01DEB2;
    border-radius: 40px;
    border: #02b893 solid 2px;
}

.sectionOptions {
    text-align: center;
    margin-bottom: 4%;
}



.TesterWeek1Resources {
    height: 79vh;
    width: 25vw;
    background-color: #3D8DE3;
    grid-row: 1 / 3;
    grid-column: 3;
    border-radius: 20px;
    padding-left: 1%;
    overflow: auto;
    text-align: center;
  }

  .TesterWeek1ResourcesList {
    text-align: center;
  }

.resourceAnchor {
    color: black;
}

.TesterWeek1ResourceItem {
    margin-top: 6.5%;
    padding: 0%;
    font-size: large;
    font-weight: 400;
}

.sectionItems {
    margin-top: 2%;
}



.testerWeek1PeopleToMeet {
    height: 37vh;
    width: 20vw;
    background-color: #3D8DE3;
    grid-row: 1;
    grid-column: 2;
    text-align: left;
    margin-left: 15%;
    border-radius: 20px;
    overflow: auto;
}

#peopleToMeetHeader {
    padding-bottom: 5%;
}

.peopleToMeetItem {
    padding-left: 10%;
    margin-top: 5%;
    font-size: large;
    font-weight: 400;
}


