#mainHeaderTester {
    text-align: center;
}

.testerBasicSetUpItem {
    padding-top: 1%;
    font-size: large;
    font-weight: 400;
}

.testerGetCompliantItem {
    padding-top: 1%;
    font-size: large;
    font-weight: 400;
}